/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* Google Fonts - Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

body, a, button {
    font-family: 'Roboto', sans-serif;
}

    a.navbar-brand {
        white-space: normal;
        text-align: center;
        word-break: break-all;
        color: #4CAF50; /* Green color for the brand name */
    }

/* Links color */
a {
    color: #4CAF50; /* Green */
    transition: color 0.3s ease;
}

    a:hover {
        color: #45a049; /* Darker Green */
    }

.btn-primary {
    color: #fff;
    background-color: #4CAF50;
    border-color: #45a049;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #4CAF50;
    border-color: #45a049;
}

/* Sticky footer styles */
html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

body {
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f7f7f7; /* Light gray background for footer */
}

