@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ComfyFeet Inc</h1>
    <h3>Our Story</h3>
    <p>
        Established in 2018, ComfyFeet Inc Creations began as a humble endeavor by two close friends, Amelia Thompson and Oliver Hughes, in a quaint workshop located in the heart of Boston. Their passion for comfort combined with the timeless design gave birth to slippers that were not only aesthetically pleasing but also extremely comfortable.
    </p>
</div>
